header {
  background: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  //border-bottom: 1px solid gray;
  height: 75px;
  width: 100%;

  img {
    margin-left: 45px;
    height: 45px;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  input {
    height: 40px;
    width: 100px;
  }

  button {
    background: none;
    border: 1px solid #835afd;
    height: 40px;
    width: 100px;

    margin-right: 45px;

    font-size: 12px;
    color: #835afd;
  }
}
