.page-auth {
  display: flex;
  align-items: center;
  height: 100vh;

  aside {
    flex: 7;

    background: gray;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px "Nunito Sans", Sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 18px;
      line-height: 32px;
      margin-top: 10px;
      color: #f8f8f8;
    }
  }

  main {
    display: flex;
    justify-content: center;

    padding: 0 32px;
    align-items: center;
    flex: 8;
  }

  .login-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 320px;

    align-items: stretch;

    > img {
      align-self: center;
      margin-bottom: 50px;
    }

    .create-room {
      background: #ea4335;

      img {
        margin-right: 8px;
      }
    }

    p {
      font-size: 12x;
      color: gray;

      margin: 15px 0px;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        flex: 1;
        height: 1px;
        background: gray;
        margin-right: 16px;
      }

      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: gray;
        margin-left: 16px;
      }
    }

    form {
      input {
        height: 50px;
        width: 320px;

        border-radius: 8px;

        text-align: center;
        margin-bottom: 15px;
        border: 1px solid gray;
      }
    }
  }
}
